In [23]:
import pandas as pd

In [24]:
#Lendo arquivo Chess

df_chess = pd.read_excel('Chess.xlsx', sheet_name='Chess')

In [25]:
df_chess.head()

,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,opening_eco,opening_name,opening_ply
0,False,1.504210e+17,1.504210e+17,13,outoftime,white,15+2,bourgris,1500,a-00,1191,D10,Slav Defense: Exchange Variation,5
1,True,1.504130e+17,1.504130e+17,16,resign,black,5+10,a-00,1322,skinnerua,1261,B00,Nimzowitsch Defense: Kennedy Variation,4
2,True,1.504130e+17,1.504130e+17,61,mate,white,5+10,ischia,1496,a-00,1500,C20,King's Pawn Game: Leonardis Variation,3
3,True,1.504110e+17,1.504110e+17,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,D02,Queen's Pawn Game: Zukertort Variation,3
4,True,1.504030e+17,1.504030e+17,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,C41,Philidor Defense,5

In [26]:
df_tomato = pd.read_csv('Tomato.csv')

In [27]:
df_tomato.head()

         Date Unit  Minimum  Maximum  Average  Market
0  2013-06-16   Kg       26       32     29.0  Tomato
1  2013-06-17   Kg       20       25     22.5  Tomato
2  2013-06-18   Kg       22       26     24.0  Tomato
3  2013-06-19   Kg       24       28     26.0  Tomato
4  2013-06-20   Kg       22       26     24.0  Tomato

In [28]:
import matplotlib.pyplot as plt

In [29]:
def categorizar_tomate_media(media):
    if media >= 40 and media <= 70:
        return "tomate medio"
    elif media < 40:
        return "tomate pequeno"
    else:
        return "tomatÃ£o"

In [30]:
df_tomato["categoria_tomate"] = df_tomato["Average"].apply(categorizar_tomate_media)

df_tomato.head()

         Date Unit  Minimum  Maximum  Average  Market categoria_tomate
0  2013-06-16   Kg       26       32     29.0  Tomato   tomate pequeno
1  2013-06-17   Kg       20       25     22.5  Tomato   tomate pequeno
2  2013-06-18   Kg       22       26     24.0  Tomato   tomate pequeno
3  2013-06-19   Kg       24       28     26.0  Tomato   tomate pequeno
4  2013-06-20   Kg       22       26     24.0  Tomato   tomate pequeno

In [31]:
df_tomato.groupby(["categoria_tomate"]).describe()

                 Minimum                                                      \
                   count       mean       std   min   25%   50%   75%    max
categoria_tomate
tomate medio       954.0  47.818658  8.203065  30.0  40.0  45.0  55.0   65.0
tomate pequeno    1638.0  23.978022  7.175572   8.0  18.0  25.0  30.0   38.0
tomatÃ£o            149.0  75.744966  7.324666  65.0  70.0  75.0  80.0  115.0

                 Maximum             ...              Average             \
                   count       mean  ...   75%    max   count       mean
categoria_tomate                     ...
tomate medio       954.0  55.009434  ...  60.0   75.0   954.0  51.414046
tomate pequeno    1638.0  29.528694  ...  35.0   44.0  1638.0  26.753358
tomatÃ£o            149.0  82.583893  ...  85.0  120.0   149.0  79.164430


                       std   min   25%   50%   75%    max
categoria_tomate
tomate medio      8.272792  40.0  45.0  50.0  57.5   70.0
tomate pequeno    7.191735  10.0  21.5  27.5  32.5   39.5
tomatÃ£o           7.367396  70.5  75.0  77.5  82.5  117.5

[3 rows x 24 columns]

In [41]:
filtro = df_tomato["Average"] < 40

df_tomato.loc[filtro]

,0,1,2,3,4,5,6,7,8,9,...,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740
Date,2013-06-16 00:00:00,2013-06-17 00:00:00,2013-06-18 00:00:00,2013-06-19 00:00:00,2013-06-20 00:00:00,2013-06-21 00:00:00,2013-06-25 00:00:00,2013-06-26 00:00:00,2013-06-27 00:00:00,2013-06-28 00:00:00,...,2021-05-04 00:00:00,2021-05-05 00:00:00,2021-05-06 00:00:00,2021-05-07 00:00:00,2021-05-08 00:00:00,2021-05-09 00:00:00,2021-05-10 00:00:00,2021-05-11 00:00:00,2021-05-12 00:00:00,2021-05-13 00:00:00
Unit,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg,...,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg,Kg
Minimum,26,20,22,24,22,15,25,20,18,24,...,10,10,10,15,10,10,10,10,30,35
Maximum,32,25,26,28,26,20,30,25,24,28,...,15,15,15,20,15,15,15,15,35,40
Average,29.0,22.5,24.0,26.0,24.0,17.5,27.5,22.5,21.0,26.0,...,12.5,12.5,12.5,17.5,12.5,12.5,12.5,12.5,32.5,37.5
Market,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,...,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato,Tomato
categoria_tomate,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,...,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno,tomate pequeno

In [42]:
df_tomato["Date"] = pd.to_datetime(df_tomato["Date"])

df_tomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2741 non-null   datetime64[ns]
 1   Unit              2741 non-null   object
 2   Minimum           2741 non-null   int64
 3   Maximum           2741 non-null   int64
 4   Average           2741 non-null   float64
 5   Market            2741 non-null   object
 6   categoria_tomate  2741 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 150.0+ KB

           Date Unit  Minimum  Maximum  Average  Market categoria_tomate
0    2013-06-16   Kg       26       32     29.0  Tomato   tomate pequeno
1    2013-06-17   Kg       20       25     22.5  Tomato   tomate pequeno
2    2013-06-18   Kg       22       26     24.0  Tomato   tomate pequeno
3    2013-06-19   Kg       24       28     26.0  Tomato   tomate pequeno
4    2013-06-20   Kg       22       26     24.0  Tomato   tomate pequeno
...         ...  ...      ...      ...      ...     ...              ...
2736 2021-05-09   Kg       10       15     12.5  Tomato   tomate pequeno
2737 2021-05-10   Kg       10       15     12.5  Tomato   tomate pequeno
2738 2021-05-11   Kg       10       15     12.5  Tomato   tomate pequeno
2739 2021-05-12   Kg       30       35     32.5  Tomato   tomate pequeno
2740 2021-05-13   Kg       35       40     37.5  Tomato   tomate pequeno

[2741 rows x 7 columns]